#main{
    text-align: center;
}
#cover{
    height: 250px;
    width: 250px;
    border-radius: 8px;
}
#songname{
    font-size: 23px;
}
#artist{
    font-size: 16px;
}
#albun{
    font-size: 10px;
}
#share{
    position: relative;
    top: 20px;
    text-align: right;
    visibility: hidden;
}
#tw_share{
    width: 35px;
    height: 35px;
}
#time_control{
    text-align: center;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}
#s_bar{
    width: 190px;
    height: 15px;
}
@media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(46, 46, 46);
      color: #fff;
    }
  }