body{
    width: 430px;
    height: 160px;
}
#cover{
    height: 120px;
    width: 120px;
    border-radius: 8px;
    text-align: right;
    background-image: url("https://beta.music.apple.com/assets/product/MissingArtworkMusic.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#songname.scroll{
    display: block;
    font-size: 22px;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#artist.scroll{
    display: block;
    font-size: 13px;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#album.scroll{
    display: block;
    font-size: 11px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#metadata-fscr{
    visibility: hidden;
    height: 0px;
}
#fl_back_cover{
    width: 0px;
    height: 0px;
}

/*scroll*/
#songname.scroll:hover{
    font-size: 22px;
    display: block;
    width: 230px;
    overflow: visible;
    white-space : nowrap;
    animation   : textscroll 5s linear infinite;
}
#artist.scroll:hover{
    font-size: 13px;
    display: block;
    width: 230px;
    overflow: visible;
    white-space : nowrap;
    animation   : textscroll 5s linear infinite;
}
#album.scroll:hover{
    font-size: 11px;
    display: block;
    width: 230px;
    overflow: visible;
    white-space : nowrap;
    animation   : textscroll 5s linear infinite;
}
@keyframes textscroll{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
/*scroll end*/

#share{
    position: relative;
    top: 10px;
    text-align: left;
    visibility: hidden;
    display: inherit;
}
#tw_share{
    width: 35px;
    height: 35px;
}
#full_screen{
    width: 35px;
    height: 35px;
}
#time_control{
    height: 50px;
    font-size: 20px;
    line-height: 20px;
}
#s_bar{
    width: 190px;
    height: 15px;
}
#metadata{
    position: absolute;
    overflow: hidden;
    float: right;
    text-align: left;
    margin: 10px;
    margin-top: -125px;
    margin-left: 130px;
}
  /*scroll bar*/
  ::-webkit-scrollbar{
      width: 2px;
  }
  ::-webkit-scrollbar:horizontal{
      width: 2px;
  }
  ::-webkit-scrollbar-track{
      background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: gray;
  }
  ::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: black;
}
@media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(46, 46, 46);
      color: #fff;
    }
    #main:-webkit-full-screen #cover{
        filter: brightness(0.9);
    }
    #main{
        filter: brightness(0.6);
    }
    #share{
        filter: brightness(0.4);
    }
  }
  
  /*FullScreen*/
  #main:-webkit-full-screen #metadata-fscr{
      height: 100%;
    }

    #main:-webkit-full-screen #share{
        display: none;
    }

    #main:-webkit-full-screen #fl_back_cover{
        position: absolute;
        display: block;
        z-index: 1;
        width: 100%;
        height: 100%;
        filter: blur(20px);
    }

    #main:-webkit-full-screen #cover{
        position: absolute;
        z-index: 2;
        width: 55%;
        height: 100%;
        text-align: center;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-clip: content-box;
    }
    #main:-webkit-full-screen #metadata{
      position: absolute;
      width: 100%;
      height: 25%;
      background: linear-gradient(transparent, rgb(80, 80, 80));
      z-index: 2;
      font-size: medium;
      text-align: center;
      margin: 0;
      bottom: 0;
      padding: 0;
    }

    #main:-webkit-full-screen #time_control{
        position: relative;
        top: 62%;
        text-align: center;
        height: 50px;
        font-size: 20px;
        line-height: 20px;
    }
    #main:-webkit-full-screen #s_bar{
        width: 50%;
        height: 15px;
    }
    #main:-webkit-full-screen #songname.songname_fscr{
        visibility: visible;
        position: absolute;
        top: 7%;
        font-size: 450%;
        text-align: left;
        left: 3%;
        font-weight: bold;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #main:-webkit-full-screen #artist.artist_fscr{
        visibility: visible;
        position: absolute;
        top: 40%;
        font-size: 300%;
        text-align: left;
        left: 3%;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #main:-webkit-full-screen #album.album_fscr{
        visibility: visible;
        position: absolute;
        top: 60%;
        font-size: 300%;
        text-align: left;
        left: 3%;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /*first*/
    #main:-webkit-full-screen #songname{
        visibility: hidden;
        /*
        position: relative;
        top: 20%;
        display: block;
        font-size: 4vw;
        line-height: 70%;
        text-align: left;
        */
    }
    #main:-webkit-full-screen #artist{
        visibility: hidden;
        /*
        position: relative;
        top: 25%;
        display: block;
        font-size: 2.5vw;
        line-height: 70%;
        text-align: left;
        */
    }
    #main:-webkit-full-screen #album{
        visibility: hidden;
        /*
        position: relative;
        top: 30%;
        display: block;
        font-size: 2vw;
        width: 200px;
        text-align: left;
        */
    }