body{
    height: 400px;
    width: 300px;
}
#main{
    text-align: center;
}
#cover{
    height: 250px;
    width: 250px;
    border-radius: 8px;
}
#songname{
    font-size: 23px;
}
#artist{
    font-size: 16px;
}
#albun{
    font-size: 10px;
}
#share{
    position: relative;
    top: 20px;
    text-align: right;
    visibility: hidden;
}
#tw_share{
    width: 35px;
    height: 35px;
}